extends layout

block content
  .page-header
    h3 FB Bot

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='fbusername') Email or Username
      .col-sm-8
        input.form-control(type='text', name='fbusername', id='fbusername', required=true)
    .form-group
      label(class='col-sm-2 control-label', for='fbpass') Password
      .col-sm-8
        input.form-control(type='password', name='fbpass', id='fbpass', required=true)
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Send


  h5 Successful Messages were sent to:

  pre.successMsgs
    #{successMsgs}

  pre.failedMsgs
    #{failedMsgs}
