extends layout

block content
  .page-header
    h3 FB Bot

  form.form-horizontal(method='POST')
    input#_csrf(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='fbusername') Currently using UserName
      .col-sm-8
        input.form-control(type='text', value='#{fbUserName}', name='fbusername', id='fbusername', required=true, disabled=true)
    .form-group
      label(class='col-sm-2 control-label', for='fbmsg') Message
      .col-sm-8
        textarea.form-control(name='fbmsg', id='fbmsg', rows='7', required=true)

    .form-group
      .col-sm-offset-2.col-sm-8
        button#sendMsg.btn.btn-primary(type='button')
          i.fa.fa-envelope
          | Send
        img#loadingBtn(style="display: none; margin-left: 10px", src='/images/spinner.gif')
        //button#loadingBtn.btn.btn-info(type='button', style="display: none; margin-left: 10px")
        //  i.fa.fa-cog
        //  | Processing..
        button#fbLogout.btn(type='button', onclick="javascript:window.location = '/bot/fb/logout'")
          i.fa.fa-power-off
          | Logout Facebook

    hr
    div.select-friends-button
      button.btn.btn-primary(type='button', onclick='invertFriendsSelection()')
        i.fa.fa-toggle-on
        | Invert Selection
      button.btn.btn-danger(type='button', onclick='unselectAllFriends()')
        i.fa.fa-user-times
        | Un-Select All
      button.btn.btn-success(type='button', onclick='selectAllFriends()')
        i.fa.fa-user-plus
        | Select All

    // select all button
    // unselect all button
    // invert selection button

    .row
      for friend in friendsList
        .col-sm-3
          label.frnd(for='chk-#{friend.userID}')
            div(id=friend.userID)
              a(href=friend.profileUrl, target='_blank')
                img(src='#{friend.profilePicture}')
              div.details
                a(href=friend.profileUrl, target='_blank') #{friend.fullName}
                input.friend-select-checkbox(type='checkbox' id='chk-#{friend.userID}', data-userId=friend.userID, name='checkedfriend[]')
                //Send Message
                input(type='hidden' name='friend[]' value='#{friend.userID}')
